<body
    style="background-image: url(../img/auth/auth_background.jpg);
        background-size: cover; 
        background-position: center;
        background-repeat: no-repeat;"
>

    <div class="auth-wrapper">
        <form method="post" class="auth-form">
            <h3>Register</h3>

            {{#if error}}
                <p class="auth-error">{{error}}</p>
            {{/if}}
            <div class="auth-error" id="existed-email" style="display: none">This email is already in use!</div>
            <div class="auth-success" id="valid-email" style="display: none">Valid email.</div>

            <div class="my-3 form-group">
                <input
                    type="text"
                    class="form-control"
                    name="fullname"
                    id="fullname"
                    placeholder="Full name"
                    required
                />
            </div>

            <div class="my-3 form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Email" required />
            </div>

            <div class="my-3 form-group">
                <input type="text" class="form-control" name="address" id="address" placeholder="Address" required />
            </div>

            <div class="my-3 form-group">
                <input
                    type="password"
                    class="form-control"
                    name="password"
                    id="password"
                    placeholder="Password (At least 6 characters)"
                    required
                />
            </div>

            <div class="mb-3 form-group">
                <input
                    type="password"
                    class="form-control"
                    name="re_password"
                    id="re_password"
                    placeholder="Confirm password"
                    required
                />
            </div>

            <div class="d-grid center mb-3 form-group">
                <button id="register-button" type="submit" class="btn btn-success w-75 rounded submit">Sign up</button>
            </div>

            <p class="mt-5">
                Already subscribe to Ogani?
                <a href="/auth/login" class="ms-1">
                    Login
                </a>
            </p>
        </form>
    </div>
    {{#extend "scripts"}}
        <script>
            $('#email').change(function () { $.getJSON('/api/auth/verify-email/' + $(this).val(), function (data) { if
            (data) { $('#existed-email').hide(); $('#valid-email').show(); $('#register-button').attr('disabled', false)
            } else { $('#existed-email').show(); $('#valid-email').hide(); $('#register-button').attr('disabled', true)
            } }); });
        </script>
    {{/extend}}
</body>